/**
 * variables.scss
 * --------------------------------------------------
 * Holds all global variables for the project
 * (for color schemes and so on).
 */

// Colors
// ==========================================================================

// Background color
$color-primary: #CCCDD3;
$color-primary-typo: darken($color-primary,50%);
$color-primary-hover: darken($color-primary,5);
$color-primary-hover-typo: darken($color-primary-typo,5%);

$color-secondary: #E63220;
$color-secondary-hover: darken($color-secondary,5);

// Link color
$color-link: $color-secondary;

// Period colors
$color-first-period: #1F77B4;
$color-second-period: #ed7e17;

// Breakpoints
// ==========================================================================

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xlg-min: 1800px;
$screen-lg-max: ($screen-xlg-min - 1);
$screen-xlg-max: 4000px;