/**
 * content.scss
 * --------------------------------------------------
 * Custom dashboard styling
 */

// Basic layout
// ==========================================================================

.skin-foxstream {

  .wrapper {
    background-color: #ECF0F5;
  }
}

// Box
// ==========================================================================

.row .box-header {
  margin: 0px;
}

.box-header.with-border {
  border-bottom: 2px solid lighten($color-primary,10);
}

.full-height {
  height: 100%;
}

.content-wrapper {
  height: 100%;
}
