/**
 * header.scss
 * --------------------------------------------------
 * Custom style for header including nav bar and control sidebar
 */

@import '../base/variables';

// Navbar
// ==========================================================================

.skin-foxstream .main-header .navbar {
  background-color: $color-primary;
}

.skin-foxstream .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-foxstream .main-header .navbar .nav > li > a:hover,
.skin-foxstream .main-header .navbar .nav > li > a:active,
.skin-foxstream .main-header .navbar .nav > li > a:focus,
.skin-foxstream .main-header .navbar .nav .open > a,
.skin-foxstream .main-header .navbar .nav .open > a:hover,
.skin-foxstream .main-header .navbar .nav .open > a:focus,
.skin-foxstream .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.skin-foxstream .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-foxstream .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}

.skin-foxstream .main-header .navbar .sidebar-toggle {
  color: #fff;
}

.skin-foxstream .main-header .navbar .sidebar-toggle:hover {
  background-color: $color-primary-hover;
}

.skin-foxstream .content-header {
  background: transparent;
}

// Logo
// ==========================================================================

.skin-foxstream .main-header .logo {
  background-color: #f9fafc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
  padding: 0px;
}

// User panel
// ==========================================================================

.skin-foxstream .main-header li.user-header {
  background-color: #dd4b39;
}

.skin-foxstream .user-panel > .info,
.skin-foxstream .user-panel > .info > a {
  color: #444444;
}

// Media queries
// ==========================================================================

@media only screen and (max-width: $screen-xs-max) {

  .main-header .logo {
    display: none;
  }

  .skin-foxstream .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .skin-foxstream .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }

  .skin-foxstream .main-header .navbar .dropdown-menu li a:hover {
    background: #d73925;
  }

  .main-header .logo, .main-header .navbar {
    margin-bottom: 0px;
  }

  .control-sidebar.control-sidebar-dark,
  .control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open+.control-sidebar-bg {
    margin-top: 0px;
    padding-top: 10px;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .logo-xs {
    display: none;
  }
}