/**
 * sidemenu.scss
 * --------------------------------------------------
 */

.skin-foxstream {

  .main-sidebar, .left-side {
    background-color: #f9fafc;
  }

  .sidebar-menu {

    > li {
      -webkit-transition: border-left-color 0.3s ease;
      -o-transition: border-left-color 0.3s ease;
      transition: border-left-color 0.3s ease;
    }

    > li.header {
      color: #848484;
      background: #f9fafc;
    }

    > li > a {
      border-left: 3px solid transparent;
      font-weight: 600;
    }

    > li:hover > a,
    > li.active > a {
      color: #000000;
      background: #f4f4f5;
    }

    > li.active {
      border-left-color: #dd4b39;
    }

    > li.active > a {
      font-weight: 600;
    }

    > li > .treeview-menu {
      background: #f4f4f5;
    }
  }

  .sidebar {

    a {
      color: #444444;
      &:hover {
        text-decoration: none;
      }
    }

  }

  .treeview-menu {

    > li > a {
      color: #777777;
    }

    > li.active > a,
    > li > a:hover {
      color: #000000;
    }

    > li.active > a {
      font-weight: 600;
    }
  }


  .sidebar-form {

    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;


    input[type="text"],
    .btn {
      box-shadow: none;
      background-color: #fff;
      border: 1px solid transparent;
      height: 35px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    input[type="text"] {

      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;

      &:focus,
      &:focus + .input-group-btn .btn {
        background-color: #fff;
        color: #666;
      }

      &:focus + .input-group-btn .btn {
        border-left-color: #fff;
      }
    }

    .btn {
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }

}

// Media Queries
// ==========================================================================

@media only screen and (min-width: $screen-sm-min) {
  .skin-foxstream.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .main-sidebar,
  .left-side {
    padding-top: 55px;
  }
}