<div class="box">
    <div class="box-header with-border row">
        <div class="col-md-4 col-xs-12">
            <i class="fa fa-thermometer-half box-title"></i>
            <h3 class="box-title">
                <select class="form-control" ng-model="siteSelected" ng-options="option.name disable when !option.siteInfo.heatmap for option in params.sites track by option.id"
                    ng-change="siteSelectedChanged()">
                </select>
            </h3>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <div class="btn-group">
                <button type="button" class="btn-sm radio-button" ng-model="heatmapVisible" ng-disabled="!periodComparisonSelected" uib-btn-radio="0">
                {{params.period.startDate.format('MMM DD, YYYY')}} - {{params.period.endDate.format('MMM DD,YYYY')}}
                </button>
                <button ng-show="periodComparisonSelected" type="button" class="btn-sm radio-button" ng-model="heatmapVisible" ng-disabled="!periodComparisonSelected"
                    uib-btn-radio="1">
                {{params.comparedPeriod.startDate.format('MMM DD, YYYY')}} - {{params.comparedPeriod.endDate.format('MMM DD,YYYY')}}
                </button>
            </div>
        </div>
    </div>
    <div class="box-body box-heatmap">
        <div id="heatmap-renderer" tabindex="-1"></div>
        <div class="heatmap-nav-controls">
            <div class="heatmap-nav-control" ng-click="zoomIn()">+</div>
            <div class="heatmap-nav-control" ng-click="zoomReset()">
                <svg width="12" height="12" viewBox="0 0 15 15">
                    <path d="M 7.5,0 C 3.375,0 0,3.375 0,7.5 0,11.625 3.375,15 7.5,15 c 3.46875,0 6.375,-2.4375 7.21875,-5.625 l -1.96875,0 C 12,11.53125 9.9375,13.125 7.5,13.125 4.40625,13.125 1.875,10.59375 1.875,7.5 1.875,4.40625 4.40625,1.875 7.5,1.875 c 1.59375,0 2.90625,0.65625 3.9375,1.6875 l -3,3 6.5625,0 L 15,0 12.75,2.25 C 11.4375,0.84375 9.5625,0 7.5,0 z"></path>
                    </svg>
            </div> 
            <div class="heatmap-nav-control" ng-click="zoomOut()">-</div>
        </div>
        <div class="heatmap-legend" ng-click="switchScale()">
            <span class="heatmap-legend-label-low">Low activity</span>
            <span class="heatmap-legend-label-high">High activity</span>
            <img class="heatmap-legend-scale-bar" ng-src="{{scales.imgs[scales.selected]}}" />
        </div>

        <div class="heatmap-opacity-control" ng-click="switchOpacity()">
            <span ng-style="{'opacity': opacities.values[opacities.selected]}"></span>
        </div>

    </div>
</div>