<div class="panel panel-default">      
  <div class="panel-heading">
    <div>{{isNew ? 'Add a new member' : 'Edit member settings'}}</div>
  </div> 
  <div class="panel-body">
    <form name="memberForm">
      <div class="form-group">
	<label>Email: </label>
	<input class="form-control"
	       ng-model="currentMember.email"
	       ng-readonly='!isNew'
	       type="email"
	       name="email"
	       ng-required="{{currentMember !== undefined}}"> 
      </div>
      <div class="form-group">
	<label>Rights: </label>
	<div class="btn-group">
          <label class="btn btn-default" ng-model="currentMember.isAdmin" uib-btn-radio="false">Viewer</label>
          <label class="btn btn-default" ng-model="currentMember.isAdmin" uib-btn-radio="true">Administrator</label>
	</div>
      </div>
      <button class='btn btn-primary'
	      ng-disabled="!isDirty() || !memberForm.email.$valid"
	      ng-click="submit()">Save</button>
      <button ng-show="!isDirty()" class='btn btn-default' ng-click="close()">Cancel</button>
      <button ng-show="isDirty()" class='btn btn-warning'
	      ng-really-click="close()"
	      ng-really-message="Do you really want to cancel your changes ?">Cancel</button>
    </form>
  </div>    
</div> 
