<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="col-md-12">

	<div class="box">      
	  <div class="box-header with-border row">
	    <div class="col-md-7">
	      <i class="fa fa-table box-title"></i>
	      <h3 class="box-title">Cameras management</h3>
	    </div>
	  </div>      
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="items" dt-options="dtOptions" class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Site</th>
		    <th>Last Upload</th>
		    <th>Item Id</th>
		    <th>Pairing Id</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="item in items">
		    <td>{{item.name}}</td>
		    <td>{{item.site_name}}</td>
		    <td>{{item.lastUpdateTime}}</td>
		    <td>{{item.itemid}}</td>
		    <td>{{item.pairId}}</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>      
	</div>
	
      </section>
    </div>    
  </section>  
</div>
