<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="col-md-12">
	
	<div class="box">    
	  <div class="box-header with-border row">
	    
	    <div class="col-md-7 col-xs-12">

	      <div class="btn-group" uib-dropdown>
		<button id="btn-append-to-single-button" type="button" class="btn btn-box" uib-dropdown-toggle>
		  <i class="fa fa-table box-title"></i>
		  {{selectedElt.name}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu"
		    aria-labelledby="btn-append-to-single-button">
		  <li class="indicator-value"
		      ng-repeat="elt in users"
		      ng-click="selectElt(elt)"
		      ng-class="{'indicator-value-active':elt._id==selectedElt._id}">
		    {{elt.name}}
		  </li>
		</ul>
	      </div>
	      
	    </div>
	      
	    <div class="col-md-5 col-xs-12 text-right">
		<button type="button" class="btn btn-primary">
		  Add Site
		</button>
		<button type="button" class="btn btn-default" ng-disabled="selectedLength == 0">
		  Change Roles
		</button>
		<button type="button" class="btn btn-danger" ng-disabled="selectedLength == 0">
		  Remove
		</button>
	    </div>
	  </div>
	  
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="ng"
		     dt-options="dtOptions"
		     dt-column-defs="dtColumnDefs"
		     class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th><input type="checkbox" ng-model="selectAll" ng-click="toggleAll()"></th>
		    <th>Site name</th>
		    <th>Role</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="site in userSites">
		    <td><input type="checkbox" ng-model="selectedElts[site._id].selected"
			       ng-click="toggleOne(site._id)"></td>
		    <td>{{site.name}}</td>
		    <td>{{site.role}}</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>
	  
	</div>
      </section>
    </div>
  </section>
</div>
