<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="col-md-12">

	<div class="box">      
	  <div class="box-header with-border row">
	    <div class="col-md-7">
	      <i class="fa fa-table box-title"></i>
	      <h3 class="box-title">Users management</h3>
	    </div>
	  </div>      
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="users" dt-options="dtOptions" class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th>User name</th>
		    <th>E-mail</th>
		    <th>Enabled</th>
		    <th>Administrator</th>
		    <th>Sites</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="user in users">
		    <td>{{user.name}}</td>
		    <td>{{user.email}}</td>
		    <td>{{user.enabled}}</td>
		    <td>{{user.admin}}</td>
		    <td>SITES</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>      
	</div>

      </section>
    </div>
  </section>
</div>
