<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="col-md-12">
	
	<div class="box">    
	  <div class="box-header with-border row">
	    
	    <div class="col-md-7 col-xs-12">

	      <h3 class="box-title">
		<i class="fa fa-table box-title"></i>
		<span>Users - Sites management</span>
	      </h3>

	    </div>
	      
	    <div class="col-md-5 col-xs-12 text-right">

		<button type="button" class="btn btn-default" ng-disabled="selectedLength == 0">
		  Change Sites
		</button>

		<button type="button" class="btn btn-danger" ng-disabled="selectedLength == 0">
		  Remove
		</button>

	    </div>

	  </div>
	  
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="ng"
		     dt-options="dtOptions"
		     dt-column-defs="dtColumnDefs"
		     class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th><input type="checkbox" ng-model="selectAll" ng-click="toggleAll()"></th>
		    <th>User Email</th>
		    <th>Sites</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="user in users">
		    <td><input type="checkbox" ng-model="selectedElts[user._id].selected"
			       ng-click="toggleOne(user._id)"></td>
		    <td>{{user.email}}</td>
		    <td>
		      <span ng-show="{{!usersSites[user.email].length}}">
			no sites
		      </span>
		      <span ng-show="{{usersSites[user.email].length}}">
			<a href="#/settings_per_user/{{user._id}}">{{usersSites[user.email].length}} site{{usersSites[user.email].length > 1 ? 's':''}}</a>
		      </span>
		    </td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>
	  
	</div>
      </section>
    </div>
  </section>
</div>
