<div class="content-wrapper">
  <section class="content">
    <div class="row" ng-show="!site">
      <section class="col-md-12">	
	<div class="box">    
	  <div class="box-header with-border row">	    
	    <div class="col-md-7 col-xs-12">
	      <h3 class="box-title">
		<i class="fa fa-book box-title"></i>
		<span> Sites management</span>
	      </h3>
	    </div>	      
	    <div class="col-md-5 col-xs-12 text-right">
		<button type="button" ng-click="newSite()" class="btn btn-primary">
		  <i class="fa fa-plus"> New Site</i>
		</button>
		<button type="button"
			class="btn btn-warning"
			ng-disabled="selectedLength == 0"
			ng-really-click="deleteSelectedSites()"
			ng-really-message="Do you really want to delete <strong>{{selectedLength}}</strong> site(s) ?">
		  <i class="fa fa-trash-o"> Delete</i>
		</button>
	    </div>
	  </div>	  
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="ng"
		     dt-options="dtOptions"
		     dt-column-defs="dtColumnDefs"
		     class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th><input type="checkbox" ng-checked="selectAll" ng-click="toggleAll()">Select all</th>
		    <th>Site name</th>
		    <th>Actions</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="site in sites">
		    <td><input type="checkbox" ng-model="selectedElts[site._id].selected"
			       ng-click="toggleOne(site._id)">
		    </td>
		    <td>{{site.name}}</td>
		    <td>
		      <button type="button" ng-click="editSite(site)" class="btn btn-default">
			<i class="fa fa-edit"> Edit</i>
		      </button>
		      <button type="button" 
			      ng-really-click="deleteSite(site)"
			      ng-really-message="Do you really want to delete the site <strong>{{site.name}}</strong> ?"
			      item="site"
			      class="btn btn-warning"><i class="fa fa-trash-o"> Delete</i></button>		      
		    </td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>	 
	</div>
      </section>
    </div> <!-- end row -->
    <div class="row" ng-show="site">
      <section class="col-md-12">
	<fca-site-editor site='site' is-new='isNewSite'
			 on-submit='saveSite()'
			 on-close='clearSite()'
			 />
      </section>
    </div> <!-- end row -->
  </section>
</div>
