<div class="content-wrapper">
  <section class="content">
    <div class="row" ng-show="!user">
      <section class="col-md-12">
	<div class="box">      
	  <div class="box-header with-border row">
	    <div class="col-md-7 col-xs-12">
	      <h3 class="box-title">
		<i class="fa fa-table box-title"></i>
		<span>Users management</span>
	      </h3>	      
	    </div>
	    <div class="col-md-5 col-xs-12 text-right">
	      <button type="button" ng-click="newUser()" class="btn btn-primary">
		New User
	      </button>	     
	      <button type="button" class="btn btn-default" ng-disabled="selectedLength == 0">
		Change Rights
	      </button>	      
	      <button type="button" class="btn btn-default" ng-disabled="selectedLength == 0">
		Reset Password
	      </button>	      
	      <button type="button" class="btn btn-danger" ng-disabled="selectedLength == 0">
		Delete
	      </button>	      
	    </div>	    
	  </div>	  
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="ng"
		     dt-options="dtOptions"
		     dt-column-defs="dtColumnDefs"
		     class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th><input type="checkbox" ng-model="selectAll" ng-click="toggleAll()"></th>
		    <th>User name</th>
		    <th>E-mail</th>
		    <th>Enabled</th>
		    <th>Rights</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="user in users">
		    <td><input type="checkbox" ng-model="selectedElts[user._id].selected"
			       ng-click="toggleOne(user._id)"></td>
		    <td>{{user.name}}</td>
		    <td>{{user.email}}</td>
		    <td>{{user.enabled}}</td>
		    <td>{{user.admin ? 'Global' : 'Owned Site'}}</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>      
	</div>
      </section>
    </div> <!-- end row -->
    <div class="row" ng-show="user">
      <section class="col-md-12">
	<div class="panel panel-default">      
	  <div class="panel-heading">
	    <div>Create a new user</div>
	  </div> 
	  <div class="panel-body">
	    <div class="form-group">
	      <label>Display name: </label>
	      <input class="form-control" ng-model="user.name" type='text'/> 
	    </div>
	    <div class="form-group">
	      <label>Email: </label>
	      <input class="form-control" ng-model="user.email" type='text'/> 
	    </div>
	    <div class="form-group">
	      <label>Enabled</label>
	      <input type='checkbox' ng-model="user.enabled"/> 
	    </div>
	    <div class="form-group">
	      <label>Rights</label>
	      <div class="btn-group">
		<button type="button" ng-model="user.admin" uib-btn-radio="true">Global</button>
		<button type="button" ng-model="user.admin" uib-btn-radio="false">Owned Site</button>
	      </div>
	    </div>
	    <button class='btn btn-default' ng-click="saveUser()">Apply</button>
	    <button class='btn btn-default' ng-click="clearUser()">Cancel</button>
	  </div>    
	</div> 
      </section>
    </div> <!-- end row -->
  </section>
</div>
