<div class="content-wrapper">
  <section class="content">
    <div class="row" ng-show="!member">
      <section class="col-md-12">
	<div class="box">      
	  <div class="box-header with-border row">	    
	    <div class="col-md-7 col-xs-12">
	      <h3 class="box-title">
		<i class="fa fa-book box-title"></i><span> Members of</span>
	      </h3>
	      <div class="btn-group" uib-dropdown>
		<button id="btn-append-to-single-button" type="button" class="btn btn-box" uib-dropdown-toggle>
		  {{selectedElt.name}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu"
		    aria-labelledby="btn-append-to-single-button">
		  <li class="indicator-value"
		      ng-repeat="elt in sites | filter: {isadmin:true}"
		      ng-click="selectElt(elt)"
		      ng-class="{'indicator-value-active':elt._id==selectedElt._id}">
		    {{elt.name}}
		  </li>
		</ul>
	      </div>
	    </div>
	      
	    <div class="col-md-5 col-xs-12 text-right">
	      <button type="button" class="btn btn-primary" ng-click="addMember()">
		<i class="fa fa-plus"> Add Member</i>
	      </button>
	      <button type="button" class="btn btn-warning"
		      ng-disabled="selectedLength == 0"
		      ng-really-click="removeSelectedMembers()"
		      ng-really-message="Do you really want to remove <strong>{{selectedLength}}</strong> member(s) ?">
		<i class="fa fa-trash-o"> Remove</i>
	      </button>
	    </div>	      
	  </div>

	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="ng"
		     dt-options="dtOptions"
		     dt-column-defs="dtColumnDefs"
		     class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th>
		      <input type="checkbox" ng-checked="selectAll" ng-click="toggleAll()">Select all
		    </th>
		    <th>Email</th>
		    <th>Rights</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="member in members">
		    <td>
		      <input type="checkbox" ng-model="selectedElts[member.email].selected"
			       ng-click="toggleOne(member.email)">
		      <button type="button"
			      ng-click="editMember(member)"
			      class="btn btn-default"><i class="fa fa-edit"> Edit</i></button>
		      <button type="button"
			      ng-really-click="removeMember(member)"
			      ng-really-message="Do you really want to remove the member <strong>{{item.email}}</strong> ?"
			      item="member"
			      class="btn btn-warning"><i class="fa fa-trash-o"> Remove</i></button>
		    </td>
		    <td>{{member.email}}</td>
		    <td>{{member.isAdmin ? 'Administrator' : 'Viewer'}}</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>      
	</div>	  
      </section>
    </div>

    <div class="row" ng-show="member">
      <section class="col-md-12">
	<fca-member-editor member='member' is-new='isNewMember'
			   on-submit='saveMember()'
			   on-close='clearMember()'
			   />
      </section>
    </div> <!-- end row -->
    
  </section>  
</div>
