<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="col-md-12">
	
	<div class="box">    
	  <div class="box-header with-border row">
	    <div class="col-md-7">
	      <i class="fa fa-table box-title"></i>
	      <h3 class="box-title">Sites management</h3>
	    </div>
	  </div>	  
	  <div class="box-body">
	    <div class="table-responsive">
	      <table datatable="ng"
		     dt-options="dtOptions"
		     dt-column-defs="dtColumnDefs"
		     class="table table-bordered table-striped table-hover">
		<thead>
		  <tr>
		    <th><input type="checkbox" ng-model="selectAll" ng-click="toggleAll()"></th>
		    <th>Site name</th>
		    <th>Users</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="site in sites">
		    <td><input type="checkbox" ng-model="selectedSites[site._id].selected"
			       ng-click="toggleOne(site._id)"></td>
		    <td>{{site.name}}</td>
		    <td>USERS</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>	  
	</div>

      </section>
    </div>
  </section>
</div>
