<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading">Main menu</h3>
      <ul class="control-sidebar-menu">
	<li>
	  <a href="#">
	    <i class="menu-icon fa fa-dashboard bg-red"></i>
	    <div class="menu-info">
	      <h4 class="control-sidebar-subheading">Dashboards</h4>
	    </div>
	  </a>
	</li>
	<li>
	  <a href="#">
	    <i class="menu-icon fa fa-user bg-yellow"></i>
	    <div class="menu-info">
	      <h4 class="control-sidebar-subheading">User settings</h4>
	    </div>
	  </a>
	</li>
	<li>
	  <a href="#">
	    <i class="menu-icon fa fa-gears bg-light-blue"></i>
	    <div class="menu-info">
	      <h4 class="control-sidebar-subheading">Admin panel</h4>
	    </div>
	  </a>
	</li>
	<li>
	  <a href="#">
	    <i class="menu-icon fa fa-book bg-green"></i>
	    <div class="menu-info">
	      <h4 class="control-sidebar-subheading">Help</h4>
	    </div>
	  </a>
	</li>
      </ul>
      <!-- /.control-sidebar-menu -->
      <h3 class="control-sidebar-heading">History</h3>
      <ul class="control-sidebar-menu">
	<li>
	  <a href="#">
	    <h4 class="control-sidebar-subheading">
	      Counters / Sites Overview
	    </h4>
	    <p><small><i class="fa fa-clock-o"></i>2 mins</small></p>
	  </a>
	</li>
	<li>
	  <a href="#">
	    <h4 class="control-sidebar-subheading">
	      Admin Panel / Site Users
	    </h4>
	    <p><small><i class="fa fa-clock-o"></i>3 hours</small></p>
	  </a>
	</li>
	<li>
	  <a href="#">
	    <h4 class="control-sidebar-subheading">
	      Documentation / HOWTOs
	    </h4>
	    <p><small><i class="fa fa-clock-o"></i>yesterday</small></p>
	  </a>
	</li>
	<li>
	  <a href="#">
	    <h4 class="control-sidebar-subheading">
	      Counters / Comparisons
	    </h4>
	    <p><small><i class="fa fa-clock-o"></i>last week</small></p>
	  </a>
	</li>
      </ul>
      <!-- /.control-sidebar-menu -->
    </div>
    <!-- /.tab-pane -->
    <!-- Stats tab content -->
    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
    <!-- /.tab-pane -->
    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
      <form method="post">
	<h3 class="control-sidebar-heading">User Settings</h3>
	<div class="form-group">
	  <label class="control-sidebar-subheading">
	    Profile
	  </label>
	</div>
	<!-- /.form-group -->
	<!-- /.form-group -->
	<div class="form-group">
	  <label class="control-sidebar-subheading">
	    Sign out
	  </label>
	</div>
	<!-- /.form-group -->
	<h3 class="control-sidebar-heading">Overall Settings</h3>
	<div class="form-group">
	  <label class="control-sidebar-subheading">
	    User management
	  </label>
	</div>
	<!-- /.form-group -->
	<div class="form-group">
	  <label class="control-sidebar-subheading">
	    Site management
	  </label>
	</div>
	<!-- /.form-group -->
	<h3 class="control-sidebar-heading">Per Site</h3>
	<div class="form-group">
	  <label class="control-sidebar-subheading">
	    Cameras
	  </label>
	</div>
	<!-- /.form-group -->
	<div class="form-group">
	  <label class="control-sidebar-subheading">
	    Users
	  </label>
	</div>
	<!-- /.form-group -->
      </form>
    </div>
    <!-- /.tab-pane -->
  </div>
</aside>
<!-- /.control-sidebar -->
