/**
 * datarangepicker.scss
 * --------------------------------------------------
 * Custom style for datarangepicker
 */

.daterangepicker.dropdown-menu {
  z-index: 13;
}

#compCalendar.daterangepicker td.in-range {
  background: #f2d5bd;
}

#compCalendar.daterangepicker td.available:hover,
#compCalendar.daterangepicker th.available:hover {
  background: #eee;
}

#compCalendar.daterangepicker td.active,
#compCalendar.daterangepicker td.active:hover {
  background: #ed7e17;
  background-color: #ed7e17;
  border-color: #ed7e17;
}

#compCalendar.daterangepicker .ranges li.active,
#compCalendar.daterangepicker .ranges li:hover {
  background: #ed7e17;
  border: 1px solid #ed7e17;
}