
.box-heatmap {
    height: 480px;   
    cursor: -webkit-grab;
    cursor: grab; 
}

#heatmap-renderer {   
    outline-style:none;
    display: block;
    background-color:#ccc;
    width: 100%;
    height: 100%;     
}

.vrplayer-camera-move {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.heatmap-nav-controls {
    position: absolute;
    border-radius: 15px;
    background-color: rgba(220, 220, 220, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    right: 35px;
    top: 100px;
    width: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 600;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    fill:#333;// body color
}

.heatmap-nav-control {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid #555;
}

.heatmap-nav-control:last-child {
    border-bottom: 0;
}

.heatmap-legend {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    border-radius: 15px;
    background-color: rgba(220, 220, 220, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    right: 90px;
    bottom: 30px;
    height: 30px;
    width: 180px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.heatmap-legend-label-low {
    float: left;
}

.heatmap-legend-label-high {
    float: right;
}

.heatmap-legend-scale-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 80%;
    height: 10px;
}

.heatmap-opacity-control {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(220, 220, 220, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    right: 42px;
    bottom: 30px;
    height: 30px;
    width: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     overflow: hidden;
        span {
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            background-image:
                -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), 
                -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
                -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
                -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
            -moz-background-size:10px 10px;
            background-size:10px 10px;
            -webkit-background-size:10px 11px; /* override value for shitty webkit */    
            background-position:0 0, 5px 0, 5px -5px, 0px 5px;
        }
}