
.box-heatmap {
    height: 480px;   
    cursor: -webkit-grab;
    cursor: grab; 
}

#heatmap-renderer {   
    outline-style:none;
    display: block;
    background-color:#ccc;
    width: 100%;
    height: 100%;     
}

.vrplayer-camera-move {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

