
.box-heatmap {
    height: 480px;   
    cursor: -webkit-grab;
    cursor: grab; 
}

#heatmap-renderer {   
    outline-style:none;
    display: block;
    background-color:#ccc;
    width: 100%;
    height: 100%;     
}

.vrplayer-camera-move {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.heatmap-legend {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    border-radius: 15px;
    background-color: rgba(220, 220, 220, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    right: 25px;
    bottom: 30px;
    height: 30px;
    width: 180px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.heatmap-legend-label-low {
    float: left;
}

.heatmap-legend-label-high {
    float: right;
}

.heatmap-legend-scale-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 80%;
    height: 10px;
}