/**
 * module.scss
 * --------------------------------------------------
 * SCSS that includes all components partials
 *
 */

@import 'daterangepickers';
@import 'graph';
@import 'datatable';
@import 'statbox';
@import 'settings';
