/**
 * statbox.scss
 * --------------------------------------------------
 * Custom style for stat box component
 */

.bg-period {
  background-color: #1F77B4;
  color:#fff!important;
}

.bg-compared-period{
  background-color: #ED7E17;
  color:#fff!important;
}