<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="DashboardController">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <nav class="navbar">
      <div class="pull-left">
        <h3><i class="fa fa-pie-chart"></i><span> Counters / Sites Overview</span></h3>
      </div>
      <div class="navbar-custom-menu pull-right">
        <ul class="nav navbar-nav">
          
          <li><a class="btn btn-default" href="#">Email</a></li>
          
          <li class="dropdown export-menu">
            <a id="exportLabel" class="btn btn-default" role="button" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="exportLabel">
              <li>
                <a href="#"><i class="fa fa-file-text-o"></i> CSV</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-file-image-o"></i> PNG</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-file-excel-o"></i> Excel</a>
              </li>
              <li><a href="#"><i class="fa fa-file-pdf-o"></i> PDF</a>
            </li>
          </ul>
        </li>
        <li>
	  <a date-range-picker="date-range-picker" 
		 class="btn btn-default daterange pull-right" 
		 type="text" 
		 ng-model="params.period" 
		 options="periodOpts">
	  {{params.period.startDate.format('MMM D, YYYY')}} - {{params.period.endDate.format('MMM D, YYYY')}} <i class="fa fa-calendar"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <fca-stat-box-sum data="params" indicator="in" label="Total In">
      </fca-stat-box-sum>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <fca-stat-box-sum data="params" kpi="mean" indicator="occ" 
			label="Mean Occupancy" bg-color="bg-green" 
			icon="ion-stats-bars">
      </fca-stat-box-sum>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <fca-stat-box-sum data="params" kpi="max-period" indicator="in"
			label="Max Period" bg-color="bg-yellow"
			icon="ion-ios-clock">
      </fca-stat-box-sum>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <fca-stat-box-sum data="params" kpi="max-site-ratio" indicator="in"
			label="Foxstream France" bg-color="bg-red"
			icon="ion-pie-graph">
      </fca-stat-box-sum>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- row -->
  <div class="row">
    <div ng-controller="GraphSiteController">
      <div fca-graph-site></div>
    </div>
  </div>
  <!-- /.row -->
  <!-- row -->
  <div class="row">
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-6 connectedSortable">
      <!-- Map box -->
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <!-- tools box -->
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
            <i class="fa fa-calendar"></i></button>
            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
            <i class="fa fa-minus"></i></button>
          </div>
          <!-- /. tools -->
          <i class="fa fa-map-marker"></i>
          <h3 class="box-title">
	    All Sites / In
          </h3>
        </div>
        <div class="box-body">
          <div id="world-map" style="height: 250px; width: 100%;"></div>
        </div>
        <!-- /.box-body-->
        <div class="box-footer no-border">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
	      <div class="description-block border-right" style="color: #333">
		<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 5%</span>
		<h5 class="description-header">28456</h5>
		<span class="description-text">WORLD</span>
              </div>
	    </div>
            <div class="col-sm-3 col-xs-6">
	      <div class="description-block border-right" style="color: #333">
		<span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
		<h5 class="description-header">12040</h5>
		<span class="description-text">EUROPE</span>
              </div>
	    </div>
            <div class="col-sm-3 col-xs-6">
	      <div class="description-block border-right" style="color: #333">
		<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 8%</span>
		<h5 class="description-header">6368</h5>
		<span class="description-text">WEST COAST</span>
              </div>
	    </div>
            <div class="col-sm-3 col-xs-6">
	      <div class="description-block" style="color: #333">
		<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 4%</span>
		<h5 class="description-header">5980</h5>
		<span class="description-text">EAST COAST</span>
              </div>
	    </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->
    </section>
    <section class="col-lg-6 connectedSortable">
      <!-- solid sales graph -->
      <div class="box">
        <div class="box-header">
          <i class="fa fa-th"></i>
          
          <h3 class="box-title">All Sites</h3>
          
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-sm btn-default" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm btn-default daterange pull-right" title="Date range"><i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
        <div class="box-body border-radius-none">
          
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Site name</th>
                <th>In</th>
                <th>Out</th>
                <th>Occupancy</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Foxstream France</td>
                <td>81</td>
                <td>55</td>
                <td>26</td>
              </tr>
              <tr>
                <td>BEV</td>
                <td>150</td>
                <td>70</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Vaulx-en-velin</td>
                <td>43</td>
                <td>31</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Foxstream Miami</td>
                <td>32</td>
                <td>29</td>
                <td>3</td>
              </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Total</th>
              <th>306</th>
              <th>185</th>
              <th>121</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
</section>
<!-- /.content -->
</div>
