<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="logo-xs"><img src="assets/img/foxstream_text_icon.png" class="image" alt="Foxstream icon"></div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
	<a>
	  <i class="fa fa-pie-chart"></i>
	  <span>Counters</span>
	  <i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li class="active"><a href="#/dashboard"><i class="fa fa-circle-o"></i> Sites Overview</a></li>
	</ul>
      </li>

      <li class="treeview">
	<a>
	  <i class="fa fa-book"></i><span>Settings</span><i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li><a href="#/current_user"><i class="fa fa-circle-o"></i> Profile</a></li>
	  <li ng-show="user.admin">
	    <a href="#"><i class="fa fa-share"></i> Global <i class="fa fa-angle-left pull-right"></i>
	    </a>
	    <ul class="treeview-menu">
	      <li><a href="#/settings_users"><i class="fa fa-circle-o"></i> Users management</a></li>
	      <div ng-show="false">
	      <li><a href="#/settings_sites_users"><i class="fa fa-circle-o"></i> Sites - Users management</a></li>
	      <li><a href="#/settings_per_site"><i class="fa fa-circle-o"></i> Per Site management</a></li>
	      <li><a href="#/settings_users_sites"><i class="fa fa-circle-o"></i> Users - Sites management</a></li>
	      <li><a href="#/settings_per_user"><i class="fa fa-circle-o"></i> Per User management</a></li>
	      </div>
	    </ul>
	  <li>
	  <li ng-show="user.admin">
	    <a href="#"><i class="fa fa-share"></i> Owned Sites <i class="fa fa-angle-left pull-right"></i>
	    </a>
	    <ul class="treeview-menu">
	      <li><a href="#/settings_site_items"><i class="fa fa-circle-o"></i> Cameras</a></li>
	      <li><a href="#/settings_site_users"><i class="fa fa-circle-o"></i> Members</a></li>
	    </ul>
	  </li>
	</ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
