<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="logo-xs"><img src="assets/img/foxstream_text_icon.png" class="image" alt="Foxstream icon"></div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
	<a href="#">
	  <i class="fa fa-dashboard"></i><span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> My Dashboard</a></li>
	  <li><a href="#"><i class="fa fa-plus"></i> New Dashboard</a></li>
	</ul>
      </li>
      <li class="treeview">
	<a href="#">
	  <i class="fa fa-pie-chart"></i>
	  <span>Counters</span>
	  <i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li><a href="#"><i class="fa fa-circle-o"></i> Sites Overview</a></li>
	</ul>
	<ul class="treeview-menu">
	  <li>
	    <a href="#"><i class="fa fa-share"></i> Comparisons <i class="fa fa-angle-left pull-right"></i></a>
	    <ul class="treeview-menu">
	      <li><a href="#"><i class="fa fa-circle-o"></i> Top 10</a></li>
	      <li><a href="#"><i class="fa fa-circle-o"></i> Geographic</a></li>
	    </ul>
	  </li>
	</ul>
      </li>
      <li class="treeview">
	<a href="#">
	  <i class="fa fa-laptop"></i>
	  <span>Behavior</span>
	  <i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li><a href="#"><i class="fa fa-circle-o"></i> KPIs</a></li>
	  <li><a href="#"><i class="fa fa-circle-o"></i> Alarms</a></li>
	</ul>
      </li>
      <li class="treeview">
	<a href="#">
	  <i class="fa fa-exchange"></i><span>Monitoring</span><i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li><a href="#"><i class="fa fa-circle-o"></i> Overview</a></li>
	  <li><a href="#"><i class="fa fa-circle-o"></i> Acquisition</a></li>
	  <li><a href="#"><i class="fa fa-circle-o"></i> Storage</a></li>
	</ul>
      </li>
      <!--
	  <li class="treeview">
	    <a href="#">
	      <i class="fa fa-share"></i> <span>Admin</span>
	      <i class="fa fa-angle-left pull-right"></i>
	    </a>
	    <ul class="treeview-menu">
	      <li>
		<a href="#"><i class="fa fa-share"></i> Overall <i class="fa fa-angle-left pull-right"></i></a>
		<ul class="treeview-menu">
		  <li><a href="#"><i class="fa fa-circle-o"></i> User management</a></li>
		  <li><a href="#"><i class="fa fa-circle-o"></i> Site management</a></li>
		</ul>
	      </li>
	      <li>
		<a href="#"><i class="fa fa-share"></i> Per site <i class="fa fa-angle-left pull-right"></i></a>
		<ul class="treeview-menu">
		  <li><a href="#"><i class="fa fa-circle-o"></i> Cameras</a></li>
		  <li><a href="#"><i class="fa fa-circle-o"></i> Users</a></li>
		</ul>
	      </li>
	    </ul>
	  </li>-->
      <li class="treeview">
	<a href="#">
	  <i class="fa fa-book"></i><span>Help</span><i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
	  <li><a href="#"><i class="fa fa-book"></i> Documentation</a></li>
	  <li><a href="#"><i class="fa fa-book"></i> FAQ</a></li>
	  <li><a href="#"><i class="fa fa-book"></i> HOWTOs</a></li>
	  <li><a href="#"><i class="fa fa-book"></i> Support</a></li>
	</ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
