<section class="col-md-12 connectedSortable">
  <div class="box">
    <div class="box-header with-border">
      <div class="box-tools pull-right">
	<div class="btn-group">
          <button type="button" ng-repeat="range in rangeOptions" class="btn btn-default btn-sm" 
		  ng-model="rangeSelected" 
		  btn-radio="range.id" ng-click="setRange(range.id)">{{range.name}}</button>
	</div>
      </div>
      <i class="fa fa-inbox"></i>
      <h3 class="box-title">
        <select class="form-control"
		ng-model="siteSelected"
		ng-options="option.name for option in params.sites track by option.id"
		ng-change="update()">
	</select>
	<a href="#">select a site</a>
      </h3>
    </div>
    <div class="box-body">
      <nav class="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
	    <select class="form-control"
		    ng-model="indicatorSelected"
		    ng-options="option.name for option in indicatorOptions track by option.id"
		    ng-change="update()">
	    </select>
	  </li>
        </ul>
      </nav>
      <div class="text-center">
        <h4><strong>Total: {{total}}</strong></h4>
      </div>
      <div class="chart">
	<canvas id="counting-chart" style="height: 300px;"></canvas>
      </div>
    </div>
    <div class="box-footer no-border">
      <div class="row">
        <div class="col-xs-4" style="border-right: 1px solid #f4f4f4">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">BEV 180</h3>
	    </div>
	    <div class="box-body">
	      <div class="chart">
		<canvas id="sparkline-1" style="height: 28px;"></canvas>
	      </div>
	    </div>
          </div>
	</div>
        <div class="col-xs-4" style="border-right: 1px solid #f4f4f4">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">Vaulx-en-velin 380</h3>
	    </div>
	    <div class="box-body">
	      <div class="chart">
		<canvas id="sparkline-2" style="height: 28px;"></canvas>
	      </div>
	    </div>
	  </div>
	</div>
        <div class="col-xs-4">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">Foxstream Miami 510</h3>
	    </div>
	    <div class="box-body">
	      <div class="chart">
		<canvas id="sparkline-3" style="height: 28px;"></canvas>
	      </div>
	    </div>
	  </div>
        </div>
      </div>
    </div>
</section>
