<div class="box">
  <div class="box-header with-border row">
    <div class="col-md-7 col-xs-12 bottom15">
      <i class="fa fa-inbox box-title"></i>
      <h3 class="box-title">
        <select class="form-control"
                ng-model="sitesSelected[0]"
                ng-options="option.name disable when (sitesSelected[1] && option.id == sitesSelected[1].id) for option in params.sites track by option.id"
                ng-change="update()">
        </select>
      </h3>
      <h3 class="box-title">vs <a ng-click="params.sites.length > 1 && toggleSiteComparison(true)"
                                  ng-show="params.sites.length > 1 && sitesSelected[1] === undefined"
                                  href="">select a site </a></h3>
      <div class="box-title" ng-show="sitesSelected[1] !== undefined">
        <h3 class="box-title">
          <select class="form-control"
                  ng-model="sitesSelected[1]"
                  ng-options="option.name disable when option.id == sitesSelected[0].id for option in params.sites track by option.id"
                  ng-change="update()">
          </select>
        </h3>
        <i class="fa fa-times-circle" ng-click="toggleSiteComparison(false)"></i>
      </div>
    </div>
    <div class="col-md-5 col-xs-12 text-right">
      <div class="btn-group">
        <button type="button" ng-repeat="range in kpi.options.ranges" class="btn btn-default btn-sm"
                ng-model="rangeSelected.id"
		ng-disabled="range.id === '15min' && sitesSelected[1] !== undefined"
                uib-btn-radio="'{{range.id}}'">{{range.name}}</button>
      </div>
    </div>
  </div>
  <div class="box-body">
    <nav class="navbar">
      <ul class="nav navbar-nav">
	<li class="dropdown">
	  <select class="form-control"
		  ng-model="indicatorSelected"
		  ng-options="option.name for option in kpi.options.indicators track by option.id"
		  ng-change="update()">
	  </select>
	</li>
      </ul>
    </nav>
    <div class="text-center">
      <h4>
	<strong>{{total.length > 1 ? "Totals" : "Total"}}:<span ng-repeat="t in total track by $index">
	    {{t}} <span ng-show="!$last">vs</span>
	</span></strong>
      </h4>
    </div>
    <nvd3 options="countingChartOptions" data="countingChartData"></nvd3>
  </div>
</div>


