<div class="box">

  <div class="box-header with-border row">
    <div class="col-md-7">
      <i class="fa fa-table box-title"></i>
      <h3 class="box-title">Hello world !</h3>
    </div>
  </div>

  <div class="box-body">
    <table datatable="" class="row-border hover">
      <thead>
	<tr>
	  <th>ID</th>
	  <th>First name</th>
	  <th>Last name</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>1</td>
	  <td>Foo</td>
	  <td>Bar</td>
	</tr>
	<tr>
	  <td>123</td>
	  <td>Someone</td>
	  <td>Youknow</td>
	</tr>
	<tr>
	  <td>987</td>
	  <td>Iamout</td>
	  <td>Ofinspiration</td>
	</tr>
      </tbody>
    </table>
  </div>

</div>

