<div class="box">

  <div class="box-header with-border row">
    <div class="col-md-7">
      <i class="fa fa-table box-title"></i>
      <h3 class="box-title">All Sites</h3>
    </div>
  </div>

  <div class="box-body">
    <table datatable="ng" dt-options="dtOptions" class="table-bordered table-striped">
      <thead>
	<tr>
          <th>Site name</th>
          <th ng-repeat="indicator in indicators">{{indicator.name}}</th>
	</tr>
      </thead>
      <tfoot>
	<tr>
	  <th>Total:</th>
	  <th ng-repeat="indicator in indicators">{{total[indicator.id] ? total[indicator.id] : 0}}</th>
	</tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="row in rows">
          <td>{{row.name}}</td>
	  <td ng-repeat="indicator in indicators">{{row[indicator.id]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

