/**
 * spacing.css
 * --------------------------------------------------
 * Convenient classes for managing spacing (margin and padding)
 */

.top0{ margin-top: 0px;}
.top1{ margin-top: 1px;}
.top2{ margin-top: 2px;}
.top4{ margin-top: 4px;}
.top5{ margin-top: 5px;}
.top10{ margin-top: 10px;}
.top15{ margin-top: 15px;}
.top20{ margin-top: 20px;}
.top30{ margin-top: 30px;}
.top50{ margin-top: 50px;}

.bottom0{ margin-bottom: 0px;}
.bottom1{ margin-bottom: 1px;}
.bottom2{ margin-bottom: 2px;}
.bottom4{ margin-bottom: 4px;}
.bottom5{ margin-bottom: 5px;}
.bottom7 { margin-bottom:7px; }
.bottom10{ margin-bottom: 10px;}
.bottom15{ margin-bottom: 15px;}
.bottom17 { margin-bottom:17px; }
.bottom20{ margin-bottom: 20px;}
.bottom30{ margin-bottom: 30px;}
.bottom50{ margin-bottom: 50px;}

.left0{ margin-left: 0px;}
.left1{ margin-left: 1px;}
.left2{ margin-left: 2px;}
.left4{ margin-left: 4px;}
.left5{ margin-left: 5px;}
.left10{ margin-left: 10px;}
.left15{ margin-left: 15px;}
.left20{ margin-left: 20px;}
.left30{ margin-left: 30px;}
.left40{ margin-left: 40px;}
.left45{ margin-left: 45px;}
.left50{ margin-left: 50px;}
.left60{ margin-left: 60px;}

.right0{ margin-right: 0px;}
.right1{ margin-right: 1px;}
.right2{ margin-right: 2px;}
.right4{ margin-right: 4px;}
.right5{ margin-right: 5px;}
.right10{ margin-right: 10px;}
.right15{ margin-right: 15px;}
.right20{ margin-right: 20px;}
.right30{ margin-right: 30px;}
.right50{ margin-right: 50px;}